/*Display Flex Property*/
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.Justify{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/*Font*/
.font-size-18px{
    font-size: 18px;
}
.font {
    font-family: Poppins;
}
/*White Color*/
.color-white{
    color: white;
}
/*Color 2*/
.color-pink{
    color: #5863F8;
}
/*Text Transform*/
.text-transform {
    text-transform: uppercase;
}
/*Header Styles*/
header{
    background-image: url("../Photos/header-background-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 324px;
    padding-top: 40px;
}
/*Container Style*/
.container {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
}
/*Container Text*/
.container-a{
    font-size: 14px;
    font-weight: bold;
}
.Contact-p{
    font-size: 42px;
    margin-top: 117px;
}
.text-2-div{
    margin-top: 35px;
}
.text-p{
    font-size: 14px;
}
.text-p:first-child::after{
    content: " ";
    height: 15px;
    width: 1px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}
.strawberry-image{
    display: none;
}
.strawberry{
    width: 50px;
}
/*<navigation> Styles*/
.list{
    margin: 0px 20px;
}
.list:nth-child(2)::after{
    content: " \02C5";
    color: white;
    margin-left: 2px;
}
.list-a{
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*Pseudo Class And Color Hovers (Mouse)*/
.list:nth-child(1):hover .list-a {
    color: red;
}
.list:nth-child(2):hover .list-a{
    color: rgb(132, 87, 175);
}
.list:nth-child(3):hover .list-a{
    color: rgb(42, 226, 42);
}
.list:nth-child(4):hover .list-a{
    color: rgb(74, 255, 255);
}
.list:nth-child(5):hover .list-a{
    color: goldenrod;
}
.list:nth-child(6):hover .list-a{
    color: hotpink;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*Start First Section Style*/
.section-1{
    padding-top: 50px;
}
.margin{
    margin-bottom: 90px;
}
.p-font-size{
    font-size: 14px;
}
.p2-font-size{
    font-size: 42px;
    width: 378px;
}
.px65{
    margin-top: 65px;
}
/*input and textarea style*/
.TextArea{
    max-width: 800px;
    width: 100%;
    height: 288px;
}
.text-area-form{
    width: 100%;
    height: 100%;
    border: solid 2px #E8E8E8;
    background-color: #F8F8F8;
}
.input-div{
    width: 352px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 15px;
}
.input-div:first-child{
    margin: 0;
}
.input-type{
    width: 100%;
    height: 60px;
    border: solid 2px #F8F8F8;
    background-color: #F8F8F8;
}
.click{
    letter-spacing: 3px;
    color: white;
    background-color: #5863F8;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
}
.click:hover{
    opacity: 0.5;
}
.click::after{
    content: url("../Photos/Fly.png");
}
/*Box Wrapper*/
.box-wrapper{
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 50px;
}
.box{
    width: 219px;
    height: 166px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.box div{
    padding:20px;
    height: 59px;
    width: 59px;
    border-radius: 50%;
    background-color: #5863F8;
}
.box div:hover{
    opacity: 0.5;
}
.box-Texts{
    font-size: 18px;
}
.mail{
 color: #B1B1B1;
 font-size: 14px;
 margin: 2px 0;
}
/*Section N3 Styles*/
.section-2{
    padding-top:90px;
}
.hover:hover{
    opacity: 0.5;
}
.section-2 .container {
    margin-bottom: 50px;
}
.section-2-p{
    font-size: 42px;
    width: 565px;
}
/*Footer Styles*/
.footer{
    width: 100%;
    background-color: black;
    padding: 90px 0 114px 0;
}
.footer-h2{
    font-size: 24px;
    -webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
.footer-h2:hover{
    font-size: 28px;
    color: chartreuse;
}
.footer-box-1 p {
    font-size: 14px;
    color: #B1B1B1;
    width: 260px;
}
.footer-icon{
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.links{
    margin-bottom: 30px;
}
.footer-icon:hover{
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}
.footer-icon:nth-child(2){
    margin: 0px 10px;
}
.footer-div{
    font-size: 14px;
}
.footer-list{
    margin-top: 15px;
}
.last-footer-div{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.last-footer-a{
    font-size: 14px;
    margin-top: 22px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
/*Pseudo Class / Pseudo ELEM / :Before  / Hovers*/
.last-footer-a:nth-child(1)::before{
    content: url("../Photos/unknown1.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.last-footer-a:nth-child(2)::before{
    content: url("../Photos/unknown2.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.last-footer-a:nth-child(3)::before{
    content: url("../Photos/unknown3.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.last-footer-a:nth-child(1):hover{
    color: chartreuse;
}
.last-footer-a:nth-child(2):hover{
    color: cyan;
}
.last-footer-a:nth-child(3):hover{
    color: indianred;
}
/*Last*/
.last-text p{
    color: #707070;
}
.last-container-margin{
    margin-top: 90px;
}